---
layout: layouts/base.njk
---

<section class="website-title">
	<div class="sign sign--to-right-sm">
		<h1>Hema<br>Foundation</h1>
	</div>
	<div class="sign sign--to-left-sm">
		<h1>Accelerator</h1>
	</div>
	<div class="sign sign--to-right-md">
		<h4>2021</h4>
	</div>
</section>

{# <p>This is the home page</p> #}