<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<title>HFA 2021</title>
</head>
<body>

<header>

	<nav>
		{% if page.url !== '/' %}
			<a href="/">Home</a>
		{% endif %}

		{% if page.url !== '/berichten/' %}
			<a href="/berichten">berichten</a>
		{% endif %}

		{% if page.url !== '/info/' %}
			<a href="/info">info</a>
		{% endif %}
	</nav>

</header>